@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Lato','Arial Narrow Bold', sans-serif;
    height: 50vh;
    transition: 1s ease-in-out;
}
#mainBoard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 1px solid rgb(131, 131, 131);
    width: 500px;
    height: 20em;
    border-radius: 8px;
    /* padding: 1%; */
    transition: 1s ease-in-out;
}
#mainBoardDiv{
    display: flex;
    justify-content: center;
}
select {
    font-size: 14px;
    border: none;
    border-bottom: 2.5px solid black;
    background: #FFFAFA;
}
#gamePlayDetailsDiv{
    display: flex;
    justify-content: center;
    gap: 10%;
}
#XplayerBtnDiv{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    width: 40%;
    
}
#XplayerBtn{
    width: 100%;
    border-radius: 50px;
    padding: 2%;
    font-size: larger;
    border: 0.1px solid rgba(0, 0, 0, 0.199);
}
#XplayerBtn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.25s ease-in-out;
}
#XplayerBtn:focus{
    border: 2px solid #28282B;
    transition: 0.25 ease-in-out;
}
#gamePlayButtonO{
    display: flex;
    justify-content: center;
}
#OmainDiv{
    display: flex;
    justify-content: center;
}
#gamePlayButtonODiv{
    width: 40%;
}
#OplayerButton{
    width: 100%;
    border-radius: 50px;
    padding: 2%;
    font-size: larger;
    border: 0.1px solid rgba(0, 0, 0, 0.233);
}
#OplayerButton:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.25s ease-in-out;
}
#OplayerButton:focus{
    border: 2px solid #28282B;
    transition: 0.25 ease-in-out;
}
#gameBoard{
    border: 1px solid black;
    /* height: 50%; */
    width: auto;
    /* border-radius: 8px; */
    background-color: #28282B;
    color: 	#FFFAFA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10%;
}
#selectMenu{
    padding: 2%;
}
#RestartButton{
    width: 100%;
    padding: 5%;
    font-size: 24px;
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    background-color: 	#006400;
    color: 	#FFFAFA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
#RestartButton:hover{
    background-color: #AA0000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: 0.25s ease-in-out;
}

#RestartButton>a{
    text-decoration: none;
    color: #FFFAFA;
}
.gameBoardInput{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 50%;
    font-size: 24px;
    border-left: none;
    border-bottom: none;
    font-size: 5rem;
    transition: 0.25s ease-in-out;
}
.third{
    border-right: none;
}
.first{
    border-top: none;
}
#win-message{
    background-color: rgba(0, 0, 0, 0.795);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFAFA;
}
#win-message-div{
    margin-top: 50vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#win-message-div>h1{
    font-size: 5rem;
}
#play-again-button{
    color: black;
    font-size: 2.5rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #AA0000;
    border: none;
    color: #FFFAFA;
    font-family: 'Lato','Arial Narrow Bold', sans-serif;
    cursor: pointer;
    /* border: 1px solid red; */
}
#play-again-button:hover{
    background-color: #006400;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;

}
#play-again-button>a{
    text-decoration: none;
    color: #FFFAFA;
}